* {
    box-sizing: border-box;
}

body{
    font-family: 'Nunito';
    background-color: #182c36;
    position: relative;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}

h2{
    font-size: 18px;
    padding: 10px 20px;
    color: #575ed8;
}

#cdd-chat-wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 400px;
    max-width: 400px;
    border: 1px solid #FFFFFF;
    box-shadow: 1px 3px 5px rgba(0,0,0,0.05);
    border-radius: 2px;
}

#cdd-chat-window{
    height: 400px;
    overflow: auto;
    background: #f9f9f9;
}

#cdd-chat-output p{
    padding: 14px 0px;
    margin: 0 20px;
    border-bottom: 1px solid #e9e9e9;
    color: #555;
}

#feedback p{
    color: #aaa;
    padding: 14px 0px;
    margin: 0 20px;
}

#cdd-chat-output strong{
    color: #575ed8;
}

label{
    box-sizing: border-box;
    display: block;
    padding: 10px 20px;
}

input{
    padding: 10px 20px;
    box-sizing: border-box;
    background: #eee;
    border: 0;
    display: block;
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #eee;
    font-family: Nunito;
    font-size: 16px;
}

button{
    background: #575ed8;
    cursor: pointer;
    color: #fff;
    font-size: 18px;
    border: 0;
    padding: 12px 0;
    width: 100%;
    border-radius: 0 0 2px 2px;
    transition: all 0.4s ease;
}

button:hover {
    background: #575aa8;
}

h1 {
    margin: 0;
    border: 1px solid #FFFFFF;
    letter-spacing: 2px;
    background-color: #182c36;
    text-align: center;
    color: #fff;
    padding: 5px;
    font-size: 22px;
    font-family: "Arial Black", Arial, Sans-Serif;
}